@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.hero {
  background: 
  linear-gradient(to right, rgba(249, 92, 226, 0.81), rgba(254, 189, 102, 0.88)),
  url('assets/bg.jpg') no-repeat; 
  background-position: center left;
  color: white;
}
